# Ignored files

# IDE editors
.idea/
.vscode/

# Node modules
node_modules/

# PnP
.pnp.js

# Yarn
.yarn/

# Testing
/tests

# Next.js
/.next/

# Production builds
/dist/
/build/

# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
venv/

# Deployment
.vercel/

# Mobile development
.expo/
web-build/

# Native files
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro health check
.metro-cache/

# Docker files
.dockerignore

# Environment Variables
.env
.env.* except .env.example